.font-advantages-card-header {
    font-family: Euclid Circular A;
    font-size: 22px;
    font-weight: 700;
    line-height: 27.9px;
}
.text-advantages-card {
    font-family: Euclid Circular A;
    font-size: 16px;
    font-weight: 300;
    line-height: 20.29px;
    color: rgba(183, 183, 183, 1);
}


.adventages {
    display: flex;
    justify-content: center;

    background-color: var(--secondary-background);
    width: 100%;

    padding: 87px 0 46px !important;
}

.adventages .container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.adventages-description {
    display: flex;
    align-items: center;
    position: relative;
    right: 80px;
}

.adventages-description-main-img {
    position: relative; 
    z-index: 1;
    right: -80px;
}

.adventages-description article {
    width: 687px;
    padding-left:  15px !important;
    padding-right: 15px !important;
}

.adventages-description-text {
    margin-top: 37px;
    margin-bottom: 41px;
    width: 518px;
}

.adventages-cards {
    width: -webkit-fill-available;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 27px;
    grid-template-rows: 289px;
}

.adventages-cards article {
    border-radius: 20px;
    padding: 30px 20px 35px 30px;

    display: flex;
    flex-direction: column-reverse;
}

.adventages-card-icon {
    width: 36.11px;
    height: 36.11px;
}

.adventeges-cards-div-icon {
    background-color: rgba(52, 58, 65, 1);
    padding: 17px;
    width: fit-content;
    margin-bottom: 25px;
}

.adventages-card-line {
    width: 139.5px;
    height: 90px;
    position: relative;
    left: 160.5px;
    top: 55px;
}