@media (max-width: 375px) {
    .preview {
        height: 275px !important;
        margin-bottom: 20px;
        display: flex               !important;
        flex-direction: column      !important;
        justify-content: flex-end   !important;
    }
    .preview img {
        height: 178px !important;
    }
    .preview p {
        padding-left: 20px;
        margin: 0;
    }

    .font-catalog-card-header {
        font-size:   20px !important;
        line-height: 30px !important;
    }
    .font-preheader {
        font-size:   15px !important;
        line-height: 20px !important;
    }
    .font-header-secondary {
        font-size: 30px   !important;
        line-height: 35px !important;
    }
    .font-primary-text {
        font-size: 15px   !important;
        line-height: 23px !important;
    }
    .font-primary-btn-text {
        font-size: 15px   !important;
    }

    .primary-btn {
        width:  45px !important;
        height: 45px !important;
    }

    .catalog {
        padding-top:    120px !important;
        padding-bottom: 120px !important;
    }
    .catalog article {
        padding-bottom: 0;
        justify-content: flex-start !important;
    } 

    .card-number {
        left: 20px;
        top:  20px;
    }
    .container-description-text {
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .catalog article:nth-child(2) img {margin: 15px 0 14px 21px !important; width: 302px !important; height: 178px !important; position: static !important;}
    .catalog article:nth-child(3) img {margin: 11px 36px 15px 0 !important; width: 210px !important; height: 193px !important; position: static !important;}
    .catalog article:nth-child(4) img {margin: 63,5px 0 50px 0 !important;  width: 264.24px !important; height: 107.42px !important;}
    .catalog article:nth-child(5) img {margin: 46px 0 51px 0 !important;    width: 226.6px !important; height: 124.67px !important;}
    .catalog article:nth-child(6) img {margin: 30px 23px 23px 0 !important;}
}