.font-catalog-card-header {
    font-family: Roboto;
    font-size: 25px;
    font-weight: 400;
    line-height: 38px;
}
.font-catalog-card-numbers {
    font-family: Roboto;
    font-size: 25px;
    font-weight: 100;
    line-height: 38px;
}


.container-description-text {
    margin-top: 29px;
    margin-bottom: 46px;
}


.catalog {
    padding-top: 164px;
    padding-bottom: 180px;
}

.content {
    display: grid;
    grid-template-columns: repeat(3, 440px);
    grid-template-rows: repeat(2, 371px);
    grid-gap: 40px;
}

.catalog article {
    border-radius: 20px;
    padding-bottom: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.catalog article:nth-child(2n)   {background-color: var(--secondary-background);}
.catalog article:nth-child(2n+1) {background-color: rgba(249, 249, 249, 1);}
.catalog article:nth-child(1)    {background-color: transparent;}


.card-number {
    position: relative;
    height: 0;
    top: 40px;
    left: 40px;
}
.preview {
    position: inherit;
    bottom: 40px;
}
.preview p {margin: 0 40px;}

.btn {
    display: flex;
    flex-direction: row;
    align-items: center;
}
