.font-footer-sections-header {
    font-family: Roboto;
    font-size: 25px;
    font-weight: 400;
    line-height: 29px;
}
.font-footer-sections-list {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
}
.font-footer-info-header {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
}
.font-footer-info-data {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
}

.logo-footer {
    width: 112px;
    height: 112px;
    top: 89px;
    left: 260px;
}




.primary-footer {
    width: 1401px;
    margin-top: 60px;
    margin-bottom: 100px;
    
    display: flex;
    justify-content: flex-start;
}

.sections {
    display: flex;
    margin: 0 190px;
}

.sections section:nth-child(n+2) {
    margin-left: 180px;
}

.sections section ul {
    list-style-type: none;
}

.sections section ul li:nth-child(n+2) {
    margin-top: 10px;
}

.footer-sections-header {
    margin-bottom: 15px;
}
