@import url("./header/menu-mobile.css");

@media (width < 375px) {
    .scroll-to {
        display: none !important;
    }
    
    .main-screen {
        grid-template-columns: auto !important;
    }
    .main-text {
        margin-top: 80px !important;
        margin-bottom: 10px !important;
    }
    .main-header {
        margin-top: 5px !important;
        margin-bottom: 28px !important;
    }

    .font-header-primary {
        font-size:   30px !important;
        line-height: 35px !important;
    }
    .font-header-next {
        font-size: 20px;
        line-height: 26px;
    }

    .left-side {
        flex-direction: column;
        margin-left: 15px !important;
        height: fit-content !important;
    }
    .main-screen-slide {
        width:  327px !important;
        height: 325px !important;
    }
    .slider ul li {
        height: fit-content !important;
    }
    .slider {
        margin: 0 auto 10px 8px !important;
        height: fit-content !important;
    }
    .slider .nav {
        position: relative !important;
        right: -170px !important;
        top: -20px !important;
    }


    .next-header {
        background-image: none !important;
        flex-direction:   row !important;
        align-items: center !important;
        height: fit-content !important;
    }
    .next-header p {margin: 0 0 0 15px !important;}
    .next-header-img {
        display: flex !important;
        margin: 15px 6px 15px 0;
        position: relative;
        left: -33px;
    }
    .next-arrow {height: fit-content !important;}
    .next-arrow a {
        height: fit-content !important;
        left: calc(296px) !important;

        top: calc(-196px - 23px - 10px - 10px) !important;
    }
    .next-arrow img {
        width:  64px !important;
        height: 14px !important;
    }
}