@import url("./header/menu.css");
@import url("./header/slider.css");


.font-header-next {
    font-family: Roboto;
    font-size: 25px;
    font-weight: 400;
    line-height: 32px;
}

.font-header-menu {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
}


.main-screen {
    display: grid;
    grid-template-columns: auto 509px;
    width: 100%;
}

.left-side {
    display: flex;
    margin-left: 260px;
}

.next {
    height: 100%;
}

.next-header {
    background-image: url("../images/header_menu/slider_next_img.png");
    height: 481px;
    width: 509px;

    display: flex;
    flex-direction: column-reverse;
}
.next-header p {
    margin-left: 40px;
    margin-bottom: 63px;
}

.next-arrow {
    height: 203px;
}
.next-arrow a {
    position: relative;
    left: 40px;
    top: 19px;
    cursor: pointer;
}


.scroll-to p {
    writing-mode: vertical-lr;
    transform: rotate(-180deg);

    margin-bottom: 16.5px;
}
.scroll-to {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;

    margin-bottom: 158px;
}


.main-header {
    margin-top: 15px;
    margin-bottom: 60px;

    width: inherit;
}

.main-text {
    width: 404px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 158px;
    margin-left: 105px;
}
