@import url("./header/first-screen/first-screen-mobile.css");
@import url("./header/upper-menu/menu-mobile.css");

@import url("./catalog/catalog-mobile.css");
@import url("./advantages/advantages-mobile.css");
@import url("./news/news-mobile.css");
@import url("./footer/footer-mobile.css");


@media (max-width: 375px) {
    
    header, main, footer, main>section, .container, .wrapper,
    .adventages__cards, .adventages__cards-content, .news__description-textblock,
    .links-footer, .contacts-footer {
        width: 100% !important;
    }

    header, main, footer, main>section, .container, .wrapper,
    .news__description-textblock {
        padding: 0 !important;
    }

    .content, 
    .adventages__cards,
    .news-description, .news__cards {
        display: grid !important;
        grid-template-columns: 100% !important;
        grid-template-rows: auto !important;
        grid-row-gap: 20px;
    }

    main>section {
        padding-left:  15px !important;
        padding-right: 15px !important;
        display: flex !important;
        justify-content: center !important;
    }
}
