@import url("./header-mobile.css");
@import url("./catalog/catalog-mobile.css");
@import url("./advantages-mobile.css");
@import url("./news-mobile.css");
@import url("./footer-mobile.css");


@media (max-width: 375px) {
    
    header, main, footer, main>section, .container, .wrapper,
    .adventages-cards, .adventages-cards article, .news-description-textblock,
    .primary-footer, .secondary-footer {
        width: 100% !important;
    }

    header, main, footer, main>section, .container, .wrapper,
    .adventages-cards, .adventages-cards article, .news-description-textblock {
        padding: 0 !important;
    }

    .content, 
    .adventages-cards,
    .news-description, .news-cards {
        display: grid !important;
        grid-template-columns: 100% !important;
        grid-template-rows: auto !important;
        grid-row-gap: 20px;
    }

    main>section {
        padding-left:  15px !important;
        padding-right: 15px !important;
        display: flex !important;
        justify-content: center !important;
    }
}
