@media (max-width: 375px) {

    .news-cards article:nth-child(3n + 3), .news-cards article:nth-child(2) {
        display: none !important;
    }
    .news-cards article {
        width: calc(375px - (25px + 2*15px)) !important;
    }

    .news-cards .date {
        left: calc(100% - 25px) !important;
    }
    .news-cards-description {
        padding: calc(127px - 45px) 13px 20px 20px !important;
    }
    .news-cards-description-header {margin-bottom: 10px;}

    .news-cards {
        grid-row-gap: 20px !important;
    }

    .news-description-textblock {
        margin-bottom: 30px !important;
    }
    .news-description .container-description-text {
        margin-bottom: 0 !important;
        margin-top: 20px !important;;
    }
    .news-description {
        margin-bottom: 40px;
    }
    .news .container {
        margin-top:    120px !important;
        margin-bottom: 120px !important;
    }
}