.font-news-card-header {
    font-family: Roboto;
    font-size: 25px;
    font-weight: 700;
    line-height: 32px;
}
.font-news-card-text {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}
.font-news-card-date-num {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 900;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;

    /* font-family: Roboto;
    font-size: 25px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center; */

}
.font-news-card-date-month {
    font-family: Roboto;
    font-size: 10px;
    font-weight: 300;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: center;
}