@import url("./links-footer/footer.css");
@import url("./contacts-footer/footer.css");


hr {
    border: none; 
    border-bottom: 1px solid rgba(229, 229, 229, 1);
    margin: 0 auto;
}

footer .container {
    display: flex;
    flex-direction: column;
}