@media (max-width: 375px) {

    .adventages__card_font {
        font-size: 18px;
        line-height: 23px;
    }
    .adventages__card_text {
        margin-top: 10px;
    }

    .adventages {
        padding: 101px 0 115px !important;
    }

    .adventages__header {
        display: flex;
        flex-direction: column-reverse;
        position: static !important;
        width: 100% !important;
    }
    .adventages__header-img {
        width: 345px  !important;
        height: 194px !important;
        position: absolute;
        top: -55px;
        right: -56px !important;
    }

    .adventages__cards-content {
        width:   100% !important;
        padding: 15px !important;
    }

    .font-secondary-text {
        font-size: 15px   !important;
        line-height: 23px !important;
    }

    
    .adventages__description-text {
        width: 100% !important;
    }


    .adventages__cards-content {
        padding: 15px !important;
        border-radius: 10px !important;
    }

    .adventages__card-icon_size {
        width:  29px !important;
        height: 29px !important;
    }
    .adventeges__card-div-icon {
        padding: 11px !important;
        position: relative;
        top: calc(-64px + 15px);
        margin-bottom: 0 !important;
    }

    .adventages__card-line {
        width: 121px !important;
        height: 64px !important;
        top: 0px !important;
        left: calc(375px - 121px - 47px) !important;
    }
}