extends base


block metaVars
    - var siteTitle = "DELL";


append header
    include header/header_menu
block main
    header.header
        block main-screen
            include main/main-screen
    section.catalog
        block catalog
            include main/catalog
    section.adventages
        block adventages
            include main/adventages
    section.news
        block news
            include main/news
prepend footer
    include footer/links-footer
    hr.container