extends base


block metaVars
    - var siteTitle = "DELL";


append header
    include header/header_menu
block main
    section.catalog
        block catalog
            include main/catalog
    section.adventages
        block adventages
            p Adventages
    section.news
        block news
            p News
prepend footer
    include footer/links-footer
    hr.container