- 
    var menuItems = [
        {title: "Главная", link: "#"}, 
        {title: "Каталог", link: "#"}, 
        {title: "Новости", link: "#"},
        {title: "Наш\u00A0АСЦ", link: "#"}, 
        {title: "Контакты", link: "#"}
    ]
- const navClasses = ['page_nav', 'font-header-menu', 'prim-text-color']


nav(class=navClasses)
    ul 
        each item in menuItems
            li 
                a(href=item.link)= item.title.toUpperCase()