@import url("./dropdown-menu.css");



.logo-header {
    width: 70px;
    height: 70px;
    top: 27px;
    left: 260px;
}
.burger-menu {
    display: none;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: center;
}

.menu .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    margin-top: 27px;
    margin-bottom: 26px;
}

.page_nav {
    margin-left: 60px;
    margin-right: 50px;
}

.page_nav ul {
    display: grid;
    grid-column-gap: 45px;
    grid-template-columns: repeat(5, auto);
}

.page_nav li {
    list-style-type: none;
    text-transform: uppercase;
}


.site_nav {
    margin-left: 380px;
}

.site_nav ul {
    display: flex;
    list-style-type: none;
}

.user-name {
    position: absolute;
    right: calc(49px + 30px);
    height: 49px;
    display: flex;
    align-items: center;
}

.buys-count {
    position: relative;
    left: calc(49px - 33px);
    bottom: calc(16px + 34px + 13px);
}